body {
    height: 100vh;
    margin: 0;
    padding: 0%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 40%;
    height: 90%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    top: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 54px;
    font-weight: 500;
    animation: moveUp 0.5s ease-out forwards;
}

@keyframes moveUp {
    0% {
        transform: translateY(-1000%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.projectsButton {
    border: dashed 3px black;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    animation: transitionIn 1s ease-in forwards;
}

@keyframes transitionIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.projectsContainer {
    position: absolute;
    top: 15%;
}

.projectModal {
    visibility: hidden;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectModalContent {
    width: 30%;
    height: 20%;
    background-color: white;
}